.flex-home1{
    display: flex;
    background-color: #e281a9;
    flex-direction: row;
    margin: 0% 7% 3% 7%; /*/margen-flex-1-2/*/


    .flex-alineacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;

        .un-momento-parrafo{
            text-transform: uppercase;
            font-weight: bolder; /*/font-standar/*/
            font-size: 300%;
            color: white; /*/color-letra/*/
            animation-duration: 4s;
            animation-name: aparecer;
            animation-iteration-count: infinite;

        @keyframes aparecer {
            0%{
                opacity: 0;
            }

            100%{
                opacity: 1;
            }
        }
        }
        
        .este-verano-parrafo{
            color: white; /*/color-letra/*/
            font-weight: bolder; /*/font-standar/*/
            animation-duration: 4s;
            animation-name: aparecer;
            animation-iteration-count: infinite;

        @keyframes aparecer {
            0%{
                opacity: 0;
            }

            100%{
                opacity: 1;
            }
        }
        }
    }
}


.flex-home2{
    display: flex;
    flex-direction: row;
    background-color: #d5eae3; /*/bg-color-home2/*/
    margin: 0% 7% 3% 7%; /*/margen-flex-1-2/*/

    .flex-alineacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15%;
        margin-right: 5%;
        animation-duration: 4s;
        animation-name: aparecer;
        animation-iteration-count: infinite;

        @keyframes aparecer {
            0%{
                opacity: 0;
            }

            100%{
                opacity: 1;
            }
        }

        .unete-parrafo{
            color: #066540; /*/color-standar/*/
            font-weight: bolder; /*/font-standar/*/
            font-size: 250%;
        }
        
        .revisa-parrafo{
            color: #066540; /*/color-standar/*/
            font-weight: bolder; /*/font-standar/*/
        }
    }
}

@media (min-width:200px) and (max-width:800px){

    .flex-home1{
        display: flex;
        flex-direction: column;
        background-color: #e281a9; /*/bg-color-home1/*/
        margin-bottom: 3%;

        .un-momento-parrafo{
            font-size: 150%;
            color: white; /*/color-standar/*/
        }
    }



    .flex-home2{
        display: flex;
        flex-direction: column;
        background-color: #d5eae3; /*/bg-color-home2/*/
        margin-left: 7%;
        margin-right: 7%;
        
    }

    .unete-parrafo{
        color: #066540; /*/color-standar/*/
        font-size: 150%;
    }
    
    .revisa-parrafo{
        color: #066540; /*/color-standar/*/
    }

}

